html {
  font-size: 1px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 7;
}

.conteiner {
  max-width: 1200px;
  width: 100%;
  position: relative;
}

.header-menu {
  padding: 16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.logo {
  z-index: 6;
}
.logo img {
  width: 67px;
  height: 68px;
}

.menu {
  display: block;
}
.menu ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu ul li a {
  color: #555555;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14rem;
  font-weight: 400;
}
.menu ul li:nth-child(1) a,
.menu ul li:nth-child(2) a,
.menu ul li:nth-child(3) a {
  font-weight: 600;
}
.menu ul li {
  border-bottom: 1px solid white;
  position: relative;
}
.menu ul li a {
  text-wrap: nowrap;
}
.menu ul li::after {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  height: 1rem;
  background-color: white;
  left: 25%;
  top: 18px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.menu ul li:hover a {
  color: #5363db;
}
.menu ul li:hover::after {
  content: "";
  background-color: #5363db;
}

.mobile-menu {
  display: inline-block;
  position: absolute;
  background-color: white;
  z-index: 5;
  padding: 25rem 0rem;
  width: 100%;
  top: -500px;
  left: 0px;
  -webkit-transition: 1s;
  transition: 1s;
}
.mobile-menu ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20rem;
}
.mobile-menu ul li a {
  font-weight: 600;
}

#menu-mobile {
  display: none;
}

.menu-mobile__label {
  position: relative;
  top: 10px;
  right: 0px;
  cursor: pointer;
  height: 20px;
  z-index: 6;
  display: none;
}

.menu-mobile__button {
  display: block;
  position: relative;
  width: 25px;
  background-color: #5363db;
  height: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.menu-mobile__button::after, .menu-mobile__button::before {
  content: "";
  display: block;
  width: 25px;
  background-color: #5363db;
  height: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.menu-mobile__button::after {
  position: absolute;
  top: -8px;
}
.menu-mobile__button::before {
  position: absolute;
  top: 8px;
}

#menu-mobile:checked + .menu-mobile__label .menu-mobile__button {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#menu-mobile:checked + .menu-mobile__label .menu-mobile__button::after {
  top: 0px;
}
#menu-mobile:checked + .menu-mobile__label .menu-mobile__button::before {
  top: 0px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#menu-mobile:checked ~ .mobile-menu {
  top: 70px;
}

.block2,
.block3,
.block5,
.block6,
.block7,
.block8,
.block9,
.block10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 20px;
}

.block2 {
  background-image: url("../img/bg-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.block2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(83, 99, 219, 0.8);
}

.slider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 200rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 90px;
  position: relative;
  padding: 100px 0px 110px 170px;
}
.slider div {
  padding-top: 70px;
  padding-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 48px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

h2 {
  font-family: "FREESCPT";
  color: white;
  letter-spacing: 0px;
  font-size: 40px;
  font-weight: 400;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

form {
  background-color: white;
  border-radius: 15px;
  padding: 40px 30px 45px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 300px;
}
form span {
  display: block;
  font-size: 25rem;
  color: #5363db;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
form input,
form select {
  display: block;
  background-color: #f2f2f2;
  padding: 18rem 10rem;
  border-radius: 10rem;
  color: #8f8f8f;
  width: 100%;
}
form button {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  background-color: #5b6ceb;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 17rem 64rem;
  border-radius: 10rem;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 15rem;
  font-weight: 400;
  margin-top: 20rem;
}
form button:hover {
  background-color: #5363db;
}

.our_classes {
  padding-top: 100px;
}

.title {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24rem;
}
.title > span {
  text-transform: uppercase;
  color: #5b6ceb;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 30rem;
}
.title > h2 {
  color: #777777;
}

.yoga_classes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 22px;
  padding-top: 78px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 15rem;
  -webkit-box-shadow: 5rem 10rem 10rem #eeeeee;
          box-shadow: 5rem 10rem 10rem #eeeeee;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  cursor: pointer;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  cursor: pointer;
}
.class:hover {
  -webkit-box-shadow: 10rem 10rem 10rem #a29999;
          box-shadow: 10rem 10rem 10rem #a29999;
}

.class-img {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.class_information {
  padding: 35px 10px 35px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  gap: 10px;
}
.class_information span {
  display: block;
}
.class_information span:first-child {
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #777777;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  margin-bottom: 10px;
}
.class_information span:nth-child(2) {
  line-height: 22px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #777777;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.class_information span:last-child {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #b4b4b4;
}

.block4 {
  padding-top: 210rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.gallery > div {
  min-width: 25%;
  -ms-flex-preferred-size: 150px;
      flex-basis: 150px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
.gallery > div img {
  width: 100%;
  opacity: 1;
}
.gallery > div .gallery_hover {
  width: 100%;
  height: 100%;
  background-color: rgba(91, 108, 255, 0.8);
  z-index: 1;
  position: absolute;
  left: 0rem;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  cursor: pointer;
}
.gallery > div .gallery_hover:hover {
  opacity: 1;
}
.gallery > div .gallery_hover:hover + .search {
  display: block;
}

.search {
  width: 40rem;
  height: 40rem;
  background-color: white;
  border-radius: 50%;
  z-index: 1;
}

.icon-search:before {
  content: "\e986";
  font-size: 18rem;
  opacity: 1;
  color: #5b6ceb;
}

.about_us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 175rem 0rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 10px;
  gap: 20px;
}

.about_us__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 25px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 25px;
}
.about_us__information span:nth-child(1) {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #5b6ceb;
}
.about_us__information span:nth-child(2) {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #555555;
  line-height: 22rem;
}

.block6 {
  background-image: url(..//..//img/bg-02.jpg);
  position: relative;
  background-size: auto 105%;
  background-repeat: no-repeat;
  background-position: center center;
}
.block6::before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  background-color: rgba(83, 99, 219, 0.8);
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 125px 0px 130px 0px;
  row-gap: 67px;
  z-index: 7;
}

.feature {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 22%;
  -ms-flex-preferred-size: 140px;
      flex-basis: 140px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 25px;
}
.feature > div {
  width: 72px;
  height: 72px;
  border: 3px solid white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 72px;
      flex-basis: 72px;
}
.feature span {
  color: white;
}
.feature .feature__title {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.feature .feature__information {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  line-height: 27px;
}

.block7 {
  background-image: url(..//..//img/bg-03.jpg);
  background-repeat: no-repeat;
  background-position: 100% 30%;
  background-size: 70% 140%;
  padding-bottom: 100rem;
}

.prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  padding-top: 100rem;
}

.cards {
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 40%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: white;
  -webkit-box-shadow: 5px 10px 10px #f1f1f1;
          box-shadow: 5px 10px 10px #f1f1f1;
  border-radius: 10px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  padding-bottom: 50px;
}
.cards:hover {
  -webkit-box-shadow: 10px 10px 10px #a0a0a0;
          box-shadow: 10px 10px 10px #a0a0a0;
}
.cards button {
  background-color: #5b6ceb;
  color: white;
  padding: 17px 60px;
  display: inline-block;
  border-radius: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.cards button:hover {
  background-color: #5363db;
}

.price {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  padding: 50px 0px;
  background-color: #5b6ceb;
  text-align: center;
}
.price > span {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 67px;
}
.price > span::before {
  content: "$";
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 32px;
  position: relative;
  top: -10px;
  left: -20px;
}
.price > span::after {
  content: "/ MONTH";
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  position: relative;
}

.rate {
  padding-top: 25px;
  padding-bottom: 15px;
}
.rate span {
  line-height: 24px;
  display: block;
  padding: 25px 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.rate span:nth-child(2)::before, .rate span:nth-child(2)::after {
  content: "";
  display: block;
  height: 2px;
  width: 50%;
  background-color: #d7d7d7;
  position: relative;
  left: 25%;
  top: -25px;
}
.rate span:nth-child(2)::after {
  top: 25px;
}

footer {
  background-color: #5b6ceb;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer span, footer li {
  color: white;
}

.block9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 40px 100px 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 75px;
     -moz-column-gap: 75px;
          column-gap: 75px;
  row-gap: 50px;
}

.about,
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
.about span,
.contacts span {
  display: block;
}
.about span:nth-child(1),
.contacts span:nth-child(1) {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.about {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  max-width: 45%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.about span:nth-child(2) {
  font-style: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.contacts {
  -ms-flex-preferred-size: 430px;
      flex-basis: 430px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 500px;
}
.contacts address {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 90px;
     -moz-column-gap: 90px;
          column-gap: 90px;
  row-gap: 25px;
}
.contacts address a {
  display: block;
  width: 150px;
  color: white;
  position: relative;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.contacts address a::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: -30px;
}
.contacts address > a:first-child:before {
  background-image: url(..//..//img/social_media/placeholder.png);
}
.contacts address > a:nth-child(2)::before {
  background-image: url(..//..//img/social_media/email.png);
}
.contacts address > a:last-child::before {
  background-image: url(..//..//img/social_media/internet.png);
}
.contacts address div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.contacts address div a:nth-child(1):before {
  background-image: url(..//..//img/social_media/phone-call.png);
}

.subfooter {
  padding: 45rem 0rem;
  background-color: #5363d8;
  width: 100%;
  text-align: center;
}
.subfooter span {
  font-size: 16rem;
  color: #a6aff5;
  font-family: "myriadpro";
  font-weight: 500;
}

.messengers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-preferred-size: 800px;
      flex-basis: 800px;
}
.messengers li a::before {
  width: 20px;
  height: 20px;
  display: block;
  font-size: 20px;
  color: white;
}
.messengers li:nth-child(1) a {
  background-image: url(..//..//img/social_media/pinterest.png);
}
.messengers li:nth-child(2) a {
  background-image: url(..//..//img/social_media/twitter.png);
}
.messengers li:nth-child(3) a {
  background-image: url(..//..//img/social_media/facebook.png);
}
.messengers li:nth-child(4) a {
  background-image: url(..//..//img/social_media/google.png);
}
.messengers li:last-child a {
  background-image: url(..//..//img/social_media/instagram.png);
}
.messengers li a {
  width: 20rem;
  height: 20rem;
  background-size: 20rem 20rem;
  display: block;
}